.window {
    display: block;
    background: url(../images/signup.png) no-repeat;
    background-size: 100%;
    border-radius: 30px;
}

.Enters-window {
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
    padding-top: 40px;
}

.signup-window {
    display: flex;
}

.signups {
    margin: 30px;
}

.signUp {
    background-color: #b1ddf0;
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: 1px solid #000;
}

.signUp:hover {
    background-color: #c1fdf0;
}

.enters-windows {
    background: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

#name, #namelogin, #namepassword, #namecontacts, #nameexperience, #namemoto {
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 40px;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
    width: 420px;
    color: #000;
    border-radius: 10px;
    outline: none;
    border: 1px solid #000;
}

#name {
    margin-top: 125px;
}

#namecontacts {
    margin-top: 55px;
    padding: 25px 5px;
}

#nameexperience {
    margin-top: 15px;
    margin-left: 90px;
    margin-bottom: 40px;
    width: 80px;
}

#namemoto {
    margin-bottom: 30px;
}

.take {
    font-size: 14px;
    font-weight: 600;
    margin-left: 90px;
    margin-top: 5px;
}

.adfile {
    display: block;
    background: #fff;
    padding: 83px 46px;
    margin-top: 145px;
    margin-left: 70px;
    border-radius: 20px;
}

.Addfile {
    opacity: 0;
    display: block;
    position: absolute;
    width: 20px;
    height: 10px;
    margin-top: 50px;
    border-radius: 20px;
}

h1 {
    font-size: 24px;
}